<!DOCTYPE html>
<html>
<head>
    <title>Jugadores</title>
    {# JQuery#}
    <script src="{{ asset('/includes/js/jquery-3.3.1.js') }}"></script>
    {# /JQuery #}
    {# Bootstrap#}
    <link rel="stylesheet" href="{{ asset('/includes/css/bootstrap.css') }}"/>
    <script src="{{ asset('/includes/js/popper.min.js') }}"></script>
    <script src="{{ asset('/includes/js/bootstrap.js') }}"></script>
    {# /Bootstrap #}
    {# Bootstrap table #}
    <link rel="stylesheet" href="{{ asset('/includes/css/bootstrap-table.css') }}"/>
    <script src="{{ asset('/includes/js/bootstrap-table.js') }}"></script>
    {# /Bootstrap table #}
    <script src="{{ asset('/includes/ajax/getClubes.js') }}"></script>
    {# Modal añadir jugador#}
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    {# /Modal añadir jugador#}
</head>
<body class="container">

<button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#myModal">
    Añadir club
</button>

<table id="table"
       data-pagination="true"
       data-page-size="10"
       data-page-list="[10,50,100, All]"
       data-search="true"
       data-search-align="left"
       data-show-export="true"
       data-pagination-V-Align="both"
       data-striped="true"
>
    <thead>
    <tr>
        <th data-field="id_club">Id Club</th>
        <th data-field="nombre_club">Nombre</th>
    </tr>
    </thead>
</table>

</body>
</html>
