<!DOCTYPE html>
<html>
<head>
    <title>Jugadores</title>
    {# JQuery#}
    <script src="{{ asset('/includes/js/jquery-3.3.1.js') }}"></script>
    {# /JQuery #}
    {# Bootstrap#}
    <link rel="stylesheet" href="{{ asset('/includes/css/bootstrap.css') }}"/>
    <script src="{{ asset('/includes/js/popper.min.js') }}"></script>
    <script src="{{ asset('/includes/js/bootstrap.js') }}"></script>
    {# /Bootstrap #}
    {# Bootstrap table #}
    <link rel="stylesheet" href="{{ asset('/includes/css/bootstrap-table.css') }}"/>
    <script src="{{ asset('/includes/js/bootstrap-table.js') }}"></script>
    {# /Bootstrap table #}
    {# llamadas ajax #}
    <script src="{{ asset('/includes/ajax/getClubes.js') }}"></script>
    {#<script src="{{ asset('/includes/ajax/getOptionsClubs.js') }}"></script>#}
    {# /llamadas ajax #}
    {# js #}
    <script src="{{ asset('/includes/js/club.js') }}"></script>
    {# /js #}

    {# Modal añadir jugador #}

    {# /Modal añadir jugador #}
</head>
<body class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{{ asset('/includes/img/la-liga.png') }}" alt="La liga" width="40px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<br>

<table id="equipos"
       data-pagination="true"
       data-page-size="10"
       data-page-list="[10,50,100, All]"
       data-search="true"
       data-search-align="left"
       data-show-export="true"
       data-pagination-V-Align="both"
       data-striped="true"
>
    <thead>
    <tr>
        <th data-field="id_club"></th>
        <th data-field="nombre_club">Nombre</th>
    </tr>
    </thead>

</table>

</body>
</html>
