<!DOCTYPE html>
<html>
<head>
    <title>Jugadores</title>
    {# JQuery#}
    <script src="{{ asset('/includes/js/jquery-3.3.1.js') }}"></script>
    {# /JQuery #}
    {# Bootstrap#}
    <link rel="stylesheet" href="{{ asset('/includes/css/bootstrap.css') }}"/>
    <script src="{{ asset('/includes/js/popper.min.js') }}"></script>
    <script src="{{ asset('/includes/js/bootstrap.js') }}"></script>
    {# /Bootstrap #}
    {# Bootstrap table #}
    <link rel="stylesheet" href="{{ asset('/includes/css/bootstrap-table.css') }}"/>
    <script src="{{ asset('/includes/js/bootstrap-table.js') }}"></script>
    {# /Bootstrap table #}
    {# llamadas ajax #}
    {#<script src="{{ asset('/includes/ajax/getJugadores.js') }}"></script>
    <script src="{{ asset('/includes/ajax/getOptionsClubs.js') }}"></script>#}
    {# /llamadas ajax #}
    {# js #}
    <script src="{{ asset('/includes/js/jugadores.js') }}"></script>
    {# /js #}
    {# css #}
    <link rel="stylesheet" href="{{ asset('/includes/css/jugador.css') }}"/>
    {# /css #}



    {# Modal añadir jugador #}
    <div class="modal fade" id="crearNuevoProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form action="{{ asset('/includes/forms/crearJugador.php') }}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Formulario creación nuevo jugador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Nombre del jugador</label>
                            <input name="nombreJugador"
                                   type="text"
                                   class="form-control"
                                   id="nombreJugador"
                                   placeholder="Nombre del jugador"
                                   required
                            >
                        </div>
                        <div class="form-group">
                            <input name="clubJugador"
                                   type="hidden"
                                   class="form-control"
                                   id="clubJugador"
                                   value="0"
                                   required
                            >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <input class="btn btn-primary" type="submit" value="Crear nuevo jugador">
                    </div>
                </div>
            </div>
        </form>
    </div>
    {# /Modal añadir jugador #}
</head>
<body class="container">

{# Crear cabecera comun #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{{ asset('/includes/img/la-liga.png') }}" alt="La liga" width="40px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>
<br>
{# /Crear cabecera comun #}

<button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#crearNuevoProyecto">
    Añadir jugador
</button>

<table id="table"
       data-pagination="true"
       data-page-size="10"
       data-page-list="[10,50,100, All]"
       data-search="true"
       data-search-align="left"
       data-show-export="true"
       data-pagination-V-Align="both"
       data-striped="true"
       data-toggle="table"
>
    <thead>
    <tr>
        <th data-field="id_jugador">Id</th>
        <th data-field="nombre_jugador">Nombre jugador</th>
    </tr>
    </thead>
    <tbody>
        {% for jugador in jugadores %}
        <tr>
            <td>
                {{ jugador.idJugador }}
            </td>
            <td>
                {{ jugador.nombreJugador }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<input type="hidden" id="idClub" value="{{ idClub }}"/>
</body>
</html>
